<div class="container">
  <div class="row mb-4" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 5px;">
    <div class="col-md-7 my-4">
      <div class="form-group">
        <label for="productService">Select Product/Service</label>
        <select class="form-control" id="productService" [(ngModel)]="selectedProductId" (change)="onProductChange($event)">
          <option *ngFor="let product of products" [value]="product.id">{{ product.name }}</option>
        </select>
      </div>
      <div class="row">
        <div class="form-group col-md-7">
          <label for="unit">Unit</label>
          <input type="text" class="form-control"  style="background-color: rgb(204, 204, 204);" id="unit" [(ngModel)]="unit" readonly>
        </div>
        <div class="col-md-5">
          <label for="quantity">Quantity</label>
          <input type="number" class="form-control" id="quantity" [(ngModel)]="quantity">
        </div>

      </div>


      <button class="btn btn-primary" (click)="addProduct()">Add</button>
      <button class="btn btn-secondary" (click)="next()">Next</button>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Product/Service</th>
            <th>Unit</th>
            <th>Quantity</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of addedProducts; let i = index">
            <td>
              <input type="text" class="form-control" [(ngModel)]="item.productName">
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="item.unit">
            </td>
            <td>
              <input type="number" class="form-control" [(ngModel)]="item.quantity">
            </td>
            <td>
              <button class="btn btn-sm btn-warning" (click)="editProduct(i)">Save</button>
              <button class="btn btn-sm btn-danger" (click)="deleteProduct(i)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
