.container {
    margin-top: 20px;
  }
  
  h2, h3 {
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
  }
  
  table {
    margin-top: 20px;
  }
  
  th, td {
    text-align: center;
    vertical-align: middle;
  }
  
  button {
    margin-top: 20px;
    width: 100px;
  }
  